.area{
       height: 100vh;
    .btn{
        display: flex;
        flex-direction: row-reverse;

    button{

        display: flex;
        
        width: 188px;
        height: 40px;
        padding: 13px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        margin: 20px;
        left: 20px;
        border-radius: 8px;
        background: var(--interactive-interactive-one-default, #D33852);
        cursor: pointer;
        border: none;
        .icon{
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            color: white;
        }

        p{
            color: var(--neutral-white, #FFF);

            /* Label/Label 2 */
            font-family: Avenir Next;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 150% */
        }
    }
    }

    .post-area{
        margin: 10px;
    }
}