.main{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 18px 24px;

    .head{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 250px;
    
        h1{
            color: #000;

            /* Heading/Heading 4 */
            font-family: Avenir Next;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 140% */
        }

        .close{
            border: none;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            background-color: transparent;
            cursor: pointer;
        }
    
    }

    p{
        color: #2B2B2B;

        /* Subtitle/Subtitle 3 */
        font-family: Avenir Next;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        
    }
}

h3{
    color: #393939;
    font-family: Avenir Next;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 15px 0px 8px 24px;
}

.subject{
    width: 407px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    background: #FFF;
    margin: 8px 27px 24px 24px;

    .input{
        width: 234px;
        color: var(--text-text-default, #222);

        /* Body/Body 1 */
        font-family: Avenir Next;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        margin: 13px 163px 11px 10px;
        border: none;
    }
}

.preview{
    width: 243px;
    height: 162px;
    flex-shrink: 0;
    margin: 0px 24px 5px 24px;
}

.input-img{
    display: inline-flex;
    height: 32px;
    padding: 13px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--border-border-subtle, #EBEBEB);
    cursor: pointer;
    margin: 3px 24px 20px 24px;
}

hr{
    width: 440px;
    height: 0.5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
}

.text-area{
    display: flex;
    width: 407px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;

    .head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .text-frame{
        display: flex;
        padding: 16px;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--border-border-subtle, #EBEBEB);
        margin: 0px 0px 10px 24px;
        width: 390px ;

        textarea{
            height: 44px;
            // width: 234px;
            flex: 1 0 0;
            color: var(--text-text-placeholder, #B0B0B0);

            /* Body/Body 1 */
            font-family: Avenir Next;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            border: none;
        }
    }
}

.pb-fream{
    display: flex;
    // float: right;
    width: 99px;
    height: 40px;
    padding: 13px 16px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background: var(--interactive-interactive-one-hover, #AF273E);
    color: var(--neutral-white, #FFF);
    /* Label/Label 2 */
    margin: 15px 0px 0px 345px;
    font-family: Avenir Next;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}