.home{
    
    .title{
        color: #000;

        /* Heading/Heading 2 */
        font-family: Avenir Next;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px; /* 137.5% */
        margin: 30px 40px;
    }

    .board{
        margin: 30px 40px;
    }
}